#
# for the php-value settings
# AllowOverride Options or AllowOverride All
# needs to be set in the Apache config!!!
#
# If running other than as apache2 module: set this in your php.ini
php_flag register_globals on

Options -Indexes +FollowSymLinks

DirectoryIndex index.php index.html index.htm

<FilesMatch "\.(tpl|log|ini)$">
    Order allow,deny
    Deny from all
</FilesMatch>

ErrorDocument 400 /index.php
ErrorDocument 401 /index.php
ErrorDocument 403 /index.php
ErrorDocument 404 /index.php
ErrorDocument 501 /index.php
ErrorDocument 503 /index.php

